{% extends 'layout.twig' %}

{#{% block side %}{% endblock %}#}

{% block body %}
    {% include 'widget/header.twig' %}

    <!--suppress SpellCheckingInspection -->
    <div class="layui-body layui-box" style="left: 0;">
        <div class="layui-container">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            站长公告
                            <span class="layui-right">
                               <button type="button" class="layui-btn layui-btn-xs"
                                       onclick="$.Modal('{{ url('notice/add') }}')">
                                    <i class="layui-icon layui-icon-add-1" style="margin: 0"></i>
                                </button>
                            </span>
                        </div>
                        <div class="layui-card-body">
                            <div class="site-tree">
                                <ul id="notice" class="layui-timeline">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">系统信息</div>
                        <div class="layui-card-body">
                            <div class="site-tree">
                                <table class="layui-table">
                                    <tbody>
                                    {% for item in system %}
                                        <tr>
                                            <td>{{ item.title }}</td>
                                            <td>{{ item.name }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row layui-col-space10">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <a href="{{ url('test')}}">今日数据</a>
                        </div>
                        <div class="layui-card-body">
                            <div id="main" style="width: 100%;height:300px"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row layui-col-space10">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">订单统计</div>
                        <div class="layui-card-body">
                            卡片式面板面板通常用于非白色背景色的主体内<br>
                            从而映衬出边框投影
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">付费订单统计</div>
                        <div class="layui-card-body">
                            卡片式面板面板通常用于非白色背景色的主体内<br>
                            从而映衬出边框投影
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(function () {
            $.Flow('#notice', '{{ url('notice/list') }}');
        })
    </script>
{#
    <script src="{{ load('echarts-4.3.0/echarts.js') }}"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        // let myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        let option = {
            title: {
                text: '折线图测试'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '邮件营销',
                    type: 'line',
                    stack: '总量',
                    data: [120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name: '联盟广告',
                    type: 'line',
                    stack: '总量',
                    data: [220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name: '视频广告',
                    type: 'line',
                    stack: '总量',
                    data: [150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name: '直接访问',
                    type: 'line',
                    stack: '总量',
                    data: [320, 332, 301, 334, 390, 330, 320]
                },
                {
                    name: '搜索引擎',
                    type: 'line',
                    stack: '总量',
                    data: [820, 932, 901, 934, 1290, 1330, 1320]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        // myChart.setOption(option);
    </script>
#}
{% endblock %}
