{% extends 'layout.twig' %}

{% block main %}
    <div class="layui-body layui-box">
        <div class="layui-card">
            <div class="layui-card-header">
                <span>角色列表</span>
                <div class="layui-right">
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-sm"
                            onclick="$.Modal('{{ url('role/add') }}')">
                        <i class="layui-icon">&#xe654;</i> 添加角色
                    </button>
                </div>
            </div>
            <div class="layui-card-body">
                <table class="layui-table" lay-skin="line">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col width="120">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>代码</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in role %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.code }}</td>
                            <td>{{ item.create_time }}</td>
                            <td>
                                <div class="layui-btn-group layui-nav">
                                    <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" onclick="$.Modal('{{ url('role/edit',{id:item.id}) }}')">编辑</button>
                                    <div class="layui-nav-item">
                                        <a href="javascript:" class="layui-btn layui-btn-normal layui-btn-sm"></a>
                                        <dl class="layui-nav-child">
                                            <dd><a href="#" onclick="$.Modal('{{ url('role/rule',{id:item.id}) }}')">权限</a></dd>
                                            <dd>
                                                <a href="#" onclick="$.Del('{{ url('role/del',{id:item.id}) }}')">删除</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

{% endblock %}