<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="{{ config('site').seo_keywords }}">
    <meta name="description" content="{{ config('site').seo_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ title|default(tab_title|default('欢迎使用')) }}
        ~ {{ config('site').title ~ ' ' ~ config('site').slogan }}</title>
    <link rel="icon" href="{{ image(config('site').favicon) }}">
    <link rel="stylesheet" href="{{ load('layui/css/layui.css') }}">
    <link rel="stylesheet" href="{{ load('rain/css/app.css') }}">
    <link rel="stylesheet" href="{{ load('rain/css/admin.css') }}">
    {% block css %}{% endblock %}
    <script src="{{ load('jquery/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ load('pjax/jquery.pjax.js') }}"></script>
    <script src="{{ load('layui/layui.js') }}"></script>
    <script src="{{ load('rain/js/app.js') }}"></script>
    {% block js %}{% endblock %}
    <script>{{ flash() }}</script>
</head>
<body class="layui-layout-body layui-bg-gray">
<div class="layui-layout layui-layout-admin">
    {% block body %}
    <!-- 头部区域（可配合layui已有的水平导航） -->
    {% block head %}
        {% include 'widget/header.twig' %}
    {% endblock %}
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    {% block side %}
        {% include 'widget/side.twig' %}
    {% endblock %}
    <!-- 内容主体区域 -->
    <div class="layui-body layui-box">
        <div class="layui-card">
            <div id="header" class="layui-card-header">
                <span>{{ tab_title }}</span>
            </div>
            <div id="main" class="layui-card-body">
                {% block main %}{% endblock %}
            </div>
        </div>
    </div>
    <!-- 底部固定区域 -->
    <div class="layui-footer layui-bg-gray">
        {% block footer %}
            {% include 'widget/footer.twig' %}
        {% endblock %}
        {% endblock %}
    </div>
</div>
<script>
    // $(document).pjax('a[target!=_blank]', '#main', {fragment: '#main', timeout: 8000});
    // $(document).on('ready pjax:end', function(event) {
    //     $(event.target).initializeMyPlugin()
    // })
</script>
</body>
</html>